GROK_REGISTER_CONSOLE_MAX_CONCURRENT_TASKS=1
GROK_REGISTER_DEFAULT_RUN_COUNT=50
GROK_REGISTER_DEFAULT_PROXY=
GROK_REGISTER_DEFAULT_BROWSER_PROXY=
GROK_REGISTER_DEFAULT_TEMP_MAIL_API_BASE=
GROK_REGISTER_DEFAULT_TEMP_MAIL_ADMIN_PASSWORD=
GROK_REGISTER_DEFAULT_TEMP_MAIL_DOMAIN=
GROK_REGISTER_DEFAULT_TEMP_MAIL_SITE_PASSWORD=
GROK_REGISTER_DEFAULT_API_ENDPOINT=http://grok2api:8000/api/admin/v1/accounts/import
GROK_REGISTER_DEFAULT_API_TOKEN=
GROK_REGISTER_DEFAULT_API_APPEND=true
